PORT=3000
   MONGODB_USER=janekanso86
   MONGODB_PASSWORD=123456789
   MONGODB_URL=cluster0.amlqtvn.mongodb.net
   MONGODB_DB=students
MONGODB_URI=mongodb+srv://janekanso86:123456789@cluster0.amlqtvn.mongodb.net/students?retryWrites=true&w=majority&appName=Cluster0